html {
    background-image: url("backgroundFlowers.png");
    background-image: url("madHatter.jpg");
    background-repeat: no-repeat;
    background-position: center 200px;
    transform: rotate(0deg);
}

header {
    text-align: center;
    font-family: "Brush Script MT", cursive;
    font-size: 30px;
    font-weight: bold;
    color: blueviolet;
}

body {
    margin: 0 auto;
    width: 700px;
}

label {
    font-weight: bold;
}

#clockDisplay {
    text-align: center;
    font-weight: bold;
    width: 250px;
    font-size: 26px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
    font-family: "Major Mono Display", monospace;
}

.timeFormatSelect {
    text-align: center;
    font-weight: bold;
    width: 250px;
    font-size: 14px;
    border: 2px solid black;
    background-color: white;
    margin: 0 auto;
}

.hat {
    background-image: url("madHatter.jpg");
    background-repeat: no-repeat;


}